---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import { Image } from "astro:assets";
import MHSLogo from "../assets/mhs_logo.png";
import LMECLogo from "../assets/MapCenter_allwhite.png";
import AthenaeumLogo from "../assets/athenaeum_logo.png";
import BPLLogo from "../assets/bpl_logo.png";
---

<InfoLayout>
     <div
          class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32"
     >
          <div class="space-y-4 sm:space-y-12">
               <H1> About this initiative </H1>

               <p class="text-lg xl:text-xl text-zinc-200 text-balance">
                    The <strong>Declarations Trail</strong> links together four Boston-area institutions and offers a unique chance to explore the many variations of America’s founding document in the year of its 250th anniversary. More than a dozen copies of the Declaration, originally created in different printings for different audiences, will be on view across six sites: the Boston Public Library and Leventhal Center, the Boston Athenaeum, the Massachusetts Historical Society, and Harvard Library’s Houghton Library, Harvard University Archives, and the Harvard Map Collection. Together, these public exhibitions cast this familiar document in a new light and open up conversations about how the Declaration has resonated across history from the summer of 1776 to the summer of 2026. We invite you to visit all six exhibitions in any order. 
               </p>
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="py-4 text-zinc-400 font-bold decoration-zinc-500">
                    A partnership between
               </h2>

               <div class="flex flex-col sm:flex-row items-center gap-2 sm:gap-4 w-full justify-start h-auto sm:h-16">
                    
                    <Image
                         src={LMECLogo}
                         alt="Leventhal Map & Education Center"
                         class="w-auto flex-1 object-contain max-h-16 self-start"
                    />
                    <Image
                         src={BPLLogo}
                         alt="Boston Public Library"
                         class="w-auto flex-1 object-contain max-h-16 self-start"
                    />
                    <Image
                         src={MHSLogo}
                         alt="Massachusetts Historical Society"
                         class="w-auto flex-1 object-contain max-h-16 self-start"
                    />
                    <Image
                         src={AthenaeumLogo}
                         alt="Boston Athenaeum"
                         class="w-auto flex-1 object-contain max-h-16 self-start"
                    />
               </div>

               <p class="text-zinc-400 text-sm">
                    For more information, please contact <a
                         href="mailto:info@leventhalmap.org"
                         >info@leventhalmap.org</a>
               </p>
          </div>
     </div>
</InfoLayout>
