---
import H1 from "../components/h1.astro";
import ExhibitionListItem from "../components/ExhibitionListItem.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import { exhibitions } from "../data/exhibitions";

const mainExhibitions = exhibitions.filter((e) => !e.extended);
const extendedExhibitions = exhibitions.filter((e) => e.extended);
---

<InfoLayout>
	<div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
		<H1> Exhibitions </H1>

		<ul class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-16 sm:gap-8">
			{mainExhibitions.map((exhibition) => <ExhibitionListItem exhibition={exhibition} />)}
		</ul>

		{
			extendedExhibitions.length > 0 && (
				<section class="mt-20 sm:mt-24">
          <H1>Extended Itineraries</H1>

					<ul class="mt-16 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-16 sm:gap-8">
						{extendedExhibitions.map((exhibition) => <ExhibitionListItem exhibition={exhibition} />)}
					</ul>

				</section>
			)
		}
	</div>
</InfoLayout>
