---
import InfoLayout from "../layouts/InfoLayout.astro";
import H1 from "../components/h1.astro";
import MapViewer from "../components/MapViewer.svelte";
---

<InfoLayout>

	<div class="fixed inset-0 w-screen h-screen ">
		<MapViewer client:load />
	</div>
</InfoLayout>
